.users {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 10px;
	min-width: 220px;
}

.user {
	padding: 20px;
	width: 100%;
	max-width: 220px;
	text-align: center;
	font-weight: bold;
	border: 1px solid #000;
	transition: all 0.5s ease;
	border-radius: 20px;
}

.user:hover {
	background-color: #ccc;
}

.user.active:hover {
	background-color: #000;
}

.active {
	color: #fff;
	background-color: #000;
	border-color: #fff;
}
